<h1>
    Final del juego:
</h1>
<div>
    Respuestas correctas	=	<span	id="score"><%=	score	%></span>
</div>

<p>
    Has acertado todas las preguntas. Enhorabuena!
</p>
<p>
    <a	href="/"><button>Volver</button></a>
</p>
