<h1>
    Random	Play:
</h1>
<div>
    Respuestas correctas	=	<span	id="score"><%=	score	%></span>
</div>
<p>
    La respuesta	<strong>	<%=	answer	%>	</strong>	es	<%=	result	?	'correcta'	:	'errónea'	%>.
</p>
<p>
    <%	if	(!result)	{	%>
        Fallaste!<br>
        La respuesta correcta era: <strong><%= correctAnswer %></strong><br>
        <a	href="/" >	<button>Finalizar juego</button>	</a>
    <%	}	else	{	%>
        <a	href="/quizzes/randomplay" ><button>Siguiente pregunta</button></a>
    <%	}	%>
</p>
