<h1>Top de Usuarios!</h1>

<table border="1">
    <tr>
        <th>Usuario</th>
        <th><a href="/users/topUsers?sortBy=correct">Respuestas correctas</a></th>
        <th><a href="/users/topUsers?sortBy=incorrect">Respuestas incorrectas</a></th>
        <th><a href="/users/topUsers?sortBy=streak">Mejor racha</a></th>
    </tr>

    <% for(var i in usuarios){ %>
        <% if (usuarios[i].accepted) {%>
            <tr>
                <td> <%= usuarios[i].username %> </td>
                <td> <%= usuarios[i].correctAnswers || 0 %> </td>
                <td> <%= usuarios[i].incorrectAnswers || 0 %> </td>
                <td> <%= usuarios[i].maxStreak || 0 %> </td>
            </tr>
        <% } %>
    <% } %>


</table>

